{% extends 'AppBundle:Post:list.html.twig' %}

{% block main %}

    <main class="blog">

        <!--  Single post  -->

        <div class="post-thumbnail-bg" style="background-image: url('/img/img.jpg')">
            <div class="shadow"></div>
            <h2>{{ author.firstName }} {{ author.lastName }}</h2>
        </div>
        <div class="container">
            <div class="row relative">
                <div class="blog-posts col-xs-12 col-sm-12 col-md-8">


                    <div class="post-single">
                        <div class="text">

                            {% for post in posts %}

                                <h4><a href="{{ path('single_post', {"id": post.id}) }}">{{ post.title }}</a></h4>

                                <div class="date">{{ post.createdAt|date("d-m-Y H:i:s") }}</div>

                            {% endfor %}


                        </div>
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="static col-xs-12 col-sm-12 col-md-4">
                    <div class="sidebar">
                        <a href="{{ path('author_edit', {"id": author.id}) }}">Edit Author</a>
                    </div>
                </div>
                <!-- /Sidebar -->
            </div>
        </div>
        <!--  /Blog posts  -->


    </main>

{% endblock main %}