{% extends 'AppBundle::layout.html.twig' %}

{% block main %}
    <main class="blog create-post">

        <div class="container">

            <div class="row margin-top">

                <h2 class="title">Create New Post</h2>

                <div class="col-xs-12 col-md-6 col-md-offset-3">

                    {{ form_start(postType) }}
                    {{ form_errors(postType) }}

                    <div class="form-group">
                        {{ form_errors(postType.title) }}
                        {{ form_widget(postType.title) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(postType.description) }}
                        {{ form_widget(postType.description) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(postType.content) }}
                        {{ form_widget(postType.content) }}
                    </div>

                    <div class="form-group">
                        {{ form_errors(postType.image) }}
                        {{ form_widget(postType.image) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(postType.author) }}
                        {{ form_widget(postType.author) }}
                        {{ form_row(postType.author) }}
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                    {{ form_end(postType) }}

                </div>


            </div>

        </div>

    </main>


    {#<ul>#}
        {#<li>#}
            {#<a href="#">Back to the list</a>#}
        {#</li>#}
    {#</ul>#}







{% endblock main %}
